/*
Phone -- 0-600px
Tablet-portrait -- 600px-900px
Tablet-landscape -- 900px-1200px
Big-desktop -- 1800+ px

Breakpoint choices
phone
tab-port
tab-land
big-desktop

*/
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: stevia-thin;
  src: url("../fonts/Averta-Cyrillic-Thin.otf"); }

@font-face {
  font-family: stevia-semi-bold;
  src: url("../fonts/Averta-Cyrillic-SemiBold.otf"); }

@font-face {
  font-family: stevia-regular;
  src: url("../fonts/Averta-Cyrillic-Regular.otf"); }

@font-face {
  font-family: stevia-light;
  src: url("../fonts/Averta-Cyrillic-Light.otf"); }

@font-face {
  font-family: stevia-extra-bold;
  src: url("../fonts/Averta-Cyrillic-ExtraBold.otf"); }

@font-face {
  font-family: stevia-extra-thin;
  src: url("../fonts/Averta-Cyrillic-Extra-Thin.otf"); }

@font-face {
  font-family: stevia-bold;
  src: url("../fonts/Averta-Cyrillic-Bold.otf"); }

@font-face {
  font-family: stevia-black;
  src: url("../fonts/Averta-Cyrillic-Black.otf"); }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  scroll-behavior: smooth; }

::-webkit-scrollbar {
  background: transparent;
  width: .6rem;
  height: .8rem; }

::-webkit-scrollbar-thumb {
  border-radius: 1rem; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: stevia-regular,"Averta CY W01";
  font-size: 1.6rem;
  line-height: 1.7rem;
  font-weight: 500;
  color: #000000; }

.head-1 {
  font-size: 3.2rem;
  line-height: 4rem;
  color: #303037; }

.para-1 {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #000000; }

.para-2 {
  font-size: 16px;
  line-height: 20px;
  color: #303037; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.m-l-auto {
  margin-left: auto; }

.m-r-25px {
  margin-right: 2.5rem; }

.m-t-auto {
  margin-top: auto; }

.m-t-20px {
  margin-top: 2rem; }

.m-t-60px {
  margin-top: 6rem; }

.m-b-20px {
  margin-bottom: 2rem; }

.m-b-40px {
  margin-bottom: 4rem; }

.btn {
  cursor: pointer;
  border: none;
  font-family: inherit; }
  .btn__onboard-nav {
    background: #ffffff;
    border: 1px solid #0d1b281a;
    border-radius: 0.5rem;
    padding: 1.24rem 3.5rem;
    font-family: inherit; }
  .btn-1 {
    background: #5c4fff;
    border-radius: 0.4rem;
    color: #ffffff;
    padding: 1.6rem; }
  .btn--full {
    width: 100%; }
  .btn:focus {
    outline: none; }

.input__wrapper:not(:last-child) {
  margin-bottom: 2rem; }

.input__label {
  font-size: 1.6rem;
  line-height: 2rem;
  color: #272d33;
  display: block;
  margin-bottom: .7rem; }

.input__holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #ffffff;
  border: 1px solid #272d331a;
  border-radius: 0.4rem;
  padding: 0 1.5rem; }

.input__item {
  flex-grow: 1;
  padding: 1.5rem 0;
  border: none;
  font-size: 1.6rem;
  font-family: stevia-regular, "Averta CY W01"; }
  .input__item::placeholder {
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #272d33b3;
    font-family: stevia-regular, "Averta CY W01"; }
  .input__item:focus {
    outline: none; }

.img__logo-1 {
  max-width: 9.974rem;
  max-height: 2.4rem; }

.link {
  text-decoration: none;
  display: inline-block; }
  .link-1 {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #5c4fff;
    transition: 0.3s; }
    .link-1:hover {
      color: #231d72; }
  .link-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #272d3391; }

.dashboard__aside {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  box-shadow: 0.4rem 0 1rem #0d02820a;
  background-color: #ffffff;
  padding: 2.5rem 1.5rem 4rem;
  z-index: 9; }
  .dashboard__aside-link a:not(:last-child) {
    margin-bottom: 1.5rem; }

.row {
  width: 100%; }
  .row::after {
    content: "";
    display: table;
    clear: both; }

.center {
  max-width: 125rem;
  margin: 0 auto; }
  .center::after {
    content: "";
    display: table;
    clear: both; }
  @media only screen and (max-width: 75em) {
    .center {
      padding-left: 1.7rem;
      padding-right: 1.7rem; } }

.center2 {
  max-width: 125rem;
  margin: 0 auto; }
  .center2::after {
    content: "";
    display: table;
    clear: both; }
  @media only screen and (max-width: 75em) {
    .center2 {
      padding-left: 1.7rem;
      padding-right: 1.7rem; } }

.onboard__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4rem 0; }

.onboard-main {
  padding-bottom: 10rem; }

.onboard-card {
  background: #ffffff;
  border: 0.1rem solid #ebebff;
  box-shadow: 0px 1rem 2.4rem #c4cdd526;
  border-radius: 0.5rem;
  padding: 4rem 3.5rem;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8rem; }

.onboard__link-reset {
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #272d33;
  display: inline-block;
  text-align: right;
  margin-bottom: 3.5rem;
  text-decoration: none; }

.onboard-question {
  margin-top: 3rem;
  border-top: 1px dashed #0d028229;
  padding-top: 4rem;
  text-align: center; }

.dashboard-main {
  display: flex;
  flex-direction: row; }

.body--default {
  background-color: #e5e5e5; }
