// ****************** Colors ******************
$color-white: #ffffff;
$color-black: #000000;
$background-color-1: #e5e5e5;

$color-1: #0d1b281a;
$color-2: #00000018;
$color-3: #ebebff;
$color-4: #c4cdd526;
$color-5: #303037;
$color-6: #272d33;
$color-7: #272d33b3;
$color-8: #272d331a;
$color-9: #5c4fff;
$color-10: #0d028229;
$color-11: #231d72;
$color-12: #0d02820a;
$color-13: #272d3391;

$main-font: stevia-regular,"Averta CY W01";

// ****************** Grids ******************
$row-width: 125rem;
$row-width-2: 125rem;
