.btn {
  cursor: pointer;
  border: none;
  font-family: inherit;

  &__onboard-nav {
    background: $color-white;
    border: 1px solid $color-1;
    border-radius: 0.5rem;
    padding: 1.24rem 3.5rem;
    font-family: inherit;
  }

  &-1 {
    background: $color-9;
    border-radius: 0.4rem;
    color: $color-white;
    padding: 1.6rem;
  }

  &--full {
    width: 100%;
  }

  &:focus {
    outline: none;
  }
}
