.dashboard {
  &__aside {
    @include flex-column;

    height: 100vh;
    position: fixed;
    box-shadow: 0.4rem 0 1rem $color-12;
    background-color: $color-white;
    padding: 2.5rem 1.5rem 4rem;
    z-index: 9;

    &-link {

        a{
            &:not(:last-child){
                margin-bottom: 1.5rem;
            }
        }

    }
  }
}
