.input {
  &__wrapper {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__label {
    font-size: 1.6rem;
    line-height: 2rem;
    color: $color-6;
    display: block;
    margin-bottom: .7rem;
  }

  &__holder {
    @include flex-row-aicenter;

    background: $color-white;
    border: 1px solid $color-8;
    border-radius: 0.4rem;
    padding: 0 1.5rem;
  }

  &__item {
    flex-grow: 1;
    padding: 1.5rem 0;
    border: none;
    font-size: 1.6rem;
    font-family: $main-font;

    &::placeholder {
      font-size: 1.4rem;
      line-height: 1.7rem;
      color: $color-7;
      font-family: $main-font;
    }

    &:focus {
      outline: none;
    }
  }
}
