body {
  font-family: stevia-regular,"Averta CY W01";
  font-size: 1.6rem;
  line-height: 1.7rem;
  font-weight: 500;
  color: $color-black;
}

// Headings
.head {
  &-1 {
    font-size: 3.2rem;
    line-height: 4rem;
    color: $color-5;
  }
}

// paragraphs
.para {
  &-1 {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: $color-black;

    &--black {
    }
  }
  &-2 {
    font-size: 16px;
    line-height: 20px;
    color: $color-5;
  }
}

// links
