// Alignment
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

// Margins ******************
.m {
  &-l-auto {
    margin-left: auto;
  }
  &-r-25px {
    margin-right: 2.5rem;
  }
  &-t-auto{
    margin-top: auto;
  }
  &-t-20px{
    margin-top: 2rem;
  }
  &-t-60px{
    margin-top: 6rem;
  }
  &-b-20px{
    margin-bottom: 2rem;
  }
  &-b-40px{
    margin-bottom: 4rem;
  }
}

// Padding *************
.p {
}

// Color ********
.color {
}
